$spacing-0:  #{var(--gap-0)};
$spacing-1:  #{var(--gap-1)};
$spacing-2:  #{var(--gap-2)};
$spacing-3:  #{var(--gap-3)};
$spacing-4:  #{var(--gap-4)};
$spacing-5:  #{var(--gap-5)};
$spacing-6:  #{var(--gap-6)};
$spacing-7:  #{var(--gap-7)};
$spacing-8:  #{var(--gap-8)};
$spacing-9:  #{var(--gap-9)};
$spacing-10: #{var(--gap-10)};
$spacing-11: #{var(--gap-11)};
$spacing-12: #{var(--gap-12)};
$spacing-13: #{var(--gap-13)};
$spacing-14: #{var(--gap-14)};
$spacing-15: #{var(--gap-15)};
$spacing-16: #{var(--gap-16)};
