$icon-size-xxs:      #{var(--icon-size-xxs)};
$icon-size-xs:       #{var(--icon-size-xs)};
$icon-size-sm:       #{var(--icon-size-sm)};
$icon-size-default:  #{var(--icon-size-default)};
$icon-size-md:       #{var(--icon-size-md)};
$icon-size-lg:       #{var(--icon-size-lg)};
$icon-size-xl:       #{var(--icon-size-xl)};
$icon-size-xxl:      #{var(--icon-size-xxl)};
$icon-size-xlg:      #{var(--icon-size-xlg)};
