%reset-btn {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

%icon-base {
    display: inline-block;
    fill: currentcolor;
    max-height: 100%;
    max-width: 100%;
}
